{% extends "admin.html" %}



        {%block title %}
        Change Passphrase
        {% endblock %}

         <!-- Bootstrap core CSS -->
       <!-- <link href="{{url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"> -->
        {%block styles %}
        {{super()}}
        <!-- Custom fonts for this template -->
        <link href="{{url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


        {% endblock %}


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

{% block content %}

        <div class="container mt-5">
            <div class="row pt-3 pl-3">
                <h1 class="postform-heading">Change Password</h1>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-6 mt-5">

                {% from "_formhelpers.html" import render_field %}

                  <form id="changepasswordform" method="POST" action="{{ url_for('change_password') }}" role="form" >

                    {{ form.hidden_tag() }}

                    {{render_field(form.oldpassword, class="form-control") }}
                    {{render_field(form.newpassword, class="form-control") }}
                    {{render_field(form.confirm, class="form-control") }}


                    <button class="btn btn-lg btn-primary btn-block mt-5 mb-5" type="submit">Submit</button>
                  </form>
                </div>
            </div>

        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript -->
        <script src="{{url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{url_for('static', filename='clean-blog.min.js') }}"></script>
        <script src="{{url_for('static', filename='blog.js') }}"></script>



{% endblock %}
