{% extends "admin.html" %}



        {%block title %}
        Admin-Registration
        {% endblock %}

{% block content %}

        <div class="container mt-5">
            <div class="row pt-3 pl-3">
                <h1 class="postform-heading">Add User</h1>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-6 mt-5">

                {% from "_formhelpers.html" import render_field %}

                  <form id="registerform" method="POST" action="{{ url_for('author_app.add_user') }}" role="form" >

                    {{ form.hidden_tag() }}

                    {{render_field(form.fullname, class="form-control") }}
                    {{render_field(form.email, class="form-control") }}
                    {{render_field(form.username, class="form-control") }}
                    {{render_field(form.password, class="form-control") }}
                    {{render_field(form.confirm, class="form-control" ) }}
                    {{render_field(form.is_admin, class="form-control") }}

                    <button class="btn btn-lg btn-primary btn-block mt-5 mb-5" type="submit">Register</button>
                  </form>
                </div>
            </div>

        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript -->
        <script src="{{url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{url_for('static', filename='clean-blog.min.js') }}"></script>
        <script src="{{url_for('static', filename='blog.js') }}"></script>



{% endblock %}
