{% extends "admin.html" %}



        {%block title %}
        Admin-Registration
        {% endblock %}



{% block content %}

        <div class="container mt-5">
            <div class="row pt-3 pl-3">
                <h1 class="postform-heading">Delete User</h1>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-6 mt-5">
                  <form method="POST" action="{{url_for('delete_user')}}">
                    <div class="form-group">
                      <label for="remove">Select Users to delete:</label>
                      <select class="form-control mb-3" name="remove">
                        {% for users in query %}
                        <option value="{{users.id}}"><b>Name:  </b>{{users.fullname}},  <b>Username:  </b>{{users.username}}, <b>is_admin:  </b>{{users.is_admin}}, <b>is_author:  </b>{{users.is_author}}</option>
                        {% endfor%}
                      </select>
                      <button type="submit" class="btn btn-primary mt-5">Submit</button>
                    </div>
                  </form>
                </div>
            </div>

        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript -->
        <script src="{{url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{url_for('static', filename='clean-blog.min.js') }}"></script>
        <script src="{{url_for('static', filename='blog.js') }}"></script>



{% endblock %}
